$boxHeight: 500px;
$backgroundColour: #1C1D21;

// Colour pallete
$first: #93C47C;
$second: #D47D9C;
$third: #FADAC1;
$fourth: #F6D5E5;
$fith: #CEEAEE;
$sixth: #317A7B;


@mixin boxConfig ($height){
    height: $height; // come back to this again because it needs to change acording to the screen size
}

body{
    color: #f7f7f7;
    font: {
        family: "Proxima Nova", "Halvetica Neue", "Halvetica", "Arial", "sans-serif";
    }
    background: {
        color: $backgroundColour;
    }
    min-heigh:1vh;
}

/*! Title and tag line */

h1#projTitle{

    font: {
        size: 4.5em;
    }

    em#colourfull{
        text: {
            transform: uppercase;
            decoration: none;
        }

        font-style: normal;

        letter-spacing: 0.5em;
    }
}

.first{color: $first;}
.second{color: $second;}
.third{color: $third;}
.fourth{color: $fourth;}
.fith{color: $fith;}
.sixth{color: $sixth;}

h2#projTagLine{
    font: {
        size: 2.5em;
    }
    // color:#FF5108;
}

/*! divs; */

div{

    &.row{ margin-top: 10%; }

    &#mapid{
        @include boxConfig($boxHeight);
    }

    &#barChart{
        @include boxConfig(300px);

        //! charts
        & svg{
            display: block;
            &.chaartingAmount{
                text{
                    fill: $third;
                }
                rect{
                    fill: $first;
                }

                margin:{
                    left: auto;
                    right: auto;
                }
            }
        }
    }

    &#pieCharting.pieChart{
        color: black;
        height: $boxHeight;
        text{
            fill: $sixth;
        }
    }

    &.row.firstRow, &.row.secondRow{
        margin-top: 0px;
    }
}

p{
    &.middleText{
        text-align: center;
    }

    font: {
        size: 1.5em;
    }
}

img.popImage{
    height: 100px;
    width: 150px;
    display: block;
    margin-bottom: 5px;
}
